.code-block {
  text-align: left;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.description {
  margin-left: 2%;
  margin-top: 0.8%;
  margin-bottom: 0.8%;
  background: #0d1117;
  padding: 1%;
  color: springgreen;
  font-size: 1.2em;
  width: 100%;
}

h2 {
  text-align: center;
}
